.feed {
  display: flex;
  justify-content: center;
  height: 100%;
}

.feed_inner {
  display: flex;
  flex-direction: row;
  width: 85%;
}

.feed_posts {
  width: 75%;
  padding: 36px 20px 36px;
}

.feed_about {
  width: 25%;
}
