.feed {
  display: flex;
  padding: 36px 0;
}

.feed__posts {
  flex: 0.7;
  /* background-color: blue; */
  padding: 0 0 0 20px;
}

.feed__item {
  display: flex;
  margin: 0 0 20px 0;
  height: 30%;
}

.feed__title-wrap {
  flex: 0.7;
  background-color: yellow;
}

.feed__titleSub {
  width: 70%;
  word-wrap: break-word;
  margin: 10px 0 10px 0;
}

.feed__image-wrap {
  flex: 0.3;
  height: 100%;
  background-color: red;
}

.feed__image {
  width: 100%;
  height: 100%;
}

.feed__about {
  flex: 0.3;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .feed__posts {
    flex: 1;
  }

  .feed__about {
    display: none;
  }
}
