.feed {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.feed_inner {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.feed_posts {
  width: 75%;
  padding: 36px 20px;
  /* background-color: aqua; */
}

.feed_item {
  width: 100%;
  height: 200px;
  overflow: hidden;
  /* background-color: yellow; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.feed_title_wrap {
  width: 70%;
  word-wrap: break-word;
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 12px;
}

.feed_title {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  margin: 0 0 8px 0;
}

.feed_titleSub {
  color: grey;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 8px 0;
}

.feed_createdAt {
  color: grey;
  font-size: 16px;
  line-height: 24px;
}

.feed_img_wrap {
  width: 30%;
  overflow: hidden;
  /* background-color: purple; */
  border-radius: 8px;
}

.feed_img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.feed_about {
  width: 25%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed_myImg_wrap {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 150px;
  margin: 36px 0 20px 0;
}

.feed_myImg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.feed_about_txt {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.feed_about_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.feed_icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed_icon:hover {
  opacity: 0.6;
}

.feed_icon_img {
  width: 30px;
  height: 30px;
}
