.postEdit__title {
  text-align: center;
  margin: 0 0 1.875rem 0;
}

.postEdit__titleSub {
  margin: 1.875rem 0 0.625rem 0;
}

.postEdit__titleInput {
  width: 100%;
  padding: 0.625rem;
}

.postEdit__postImg {
  width: 30%;
}

.postEdit__contentInput {
  width: 100%;
  padding: 0.625rem;
}

.postEdit__submitBtn {
  width: 100px;
  padding: 0.625rem;
  margin: 0.625rem 0;
}
