.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 2rem 32px;
}

.header__link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
}
